* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  background-color: #e9e9e9;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

main {
  width: 400px;
  height: 300px;
  background-color: #fff;
  border-radius: 20px;
  padding: 25px;
}

.countries-container {
  height: 200px;
  overflow: scroll;
}

.countries-header {
  display: flex;
  justify-content: space-between;
  padding: 10px 0;
  border-top: 1px solid gray;
}

main > input {
  border: 0;
  width: 100%;
  padding: 5px 10px;
}
